.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
textarea,
input {
  resize: none;
  outline: none;
}

button {
  cursor: pointer;
}
body {
  margin: 0;
}
pre {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/*   list   */

.list-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.list-card {
  width: 16rem;
  margin: 0 24px 24px 0;
}

.searchBar-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
