.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
textarea,
input {
  resize: none;
  outline: none;
}

button {
  cursor: pointer;
}
body {
  margin: 0;
}
pre {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/*   list   */

.list-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.list-card {
  width: 16rem;
  margin: 0 24px 24px 0;
}

.searchBar-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*     SaveButton        */

.save-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.save-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  color: #999999;
  float: right;
}

.saved {
  color: #ffc107;
  animation: saved 2s infinite;
}

@keyframes saved {
  0% {
    font-size: 20px;
  }
  35% {
    font-size: 25px;
  }
  100% {
    font-size: 20px;
  }
}

/*   search-select   */
/* .search-select {
  max-width: 150px;
} */
.search-main-select {
  margin-right: 1rem;
}

/*     Table      */
.table-row {
  cursor: pointer;
}

/*    Loader     */
.loader-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
